:root{
    --color-primary: #ce1b1d;
    --color-secondary: #10100f;
    --transition: all 0.3s ease-in-out;
    --background: #0a0b0e;
}




.btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    padding: 1rem 2rem;
    border-radius: 5px; 
    cursor: pointer; 
    transition: var(--transition);

    &.btn-primary{
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);

        &:hover{
            background-color: var(--color-secondary);
            border: 1px solid rgba(255, 255, 255, 1);
        }
    }

    &.btn-secondary{
        background-color: var(--color-secondary);
        border: 1px solid rgba(255, 255, 255, 1);

        &:hover{
            background-color: var(--color-primary);
            border: 1px solid var(--color-primary);
        }
    }
}

.lucide-arrow-up, 
.lucide-chevron-down{
    cursor: pointer;
}




