:root{
    --color-primary: rgba(206, 27, 29, 1);
    --color-inverse: rgba(0, 0, 0, 1);
    --background: rgb(10, 11, 14);
    --transition: all 0.3s ease-in-out;
}


/**********************
****** GLOBAL RULES **/
*{
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
    transition: var(--transition);

    &:hover{
        color: var(--color-primary);
    }
}

html, body{
    font-family: "Poppins";
    font-size: 16px;
}

.btn{
    width: fit-content;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;

    &.btn-primary{
        background-color: var(--color-primary);
        border: 1px solid var(--color-primary);
        color: rgba(255, 255, 255, 1);
        transition: var(--transition);

        &:hover{
            background-color: transparent;
            border-color: rgba(255, 255, 255, 1);
        }
    }
}

.lucide-arrow-up, 
.lucide-chevron-down{
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

