.navigation{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 2rem;
    margin-right: 3rem;
    align-items: center;
    transition: var(--transition);

    button > svg{
       width: 1.5rem;
       height: 1.5rem;  
    }

    svg{
       padding-left: 0.5rem; 
       width: 2rem;
       height: 2rem;
       transition: var(--transition);

       &:hover{
        color: var(--color-primary);
       }
    }

    a:hover{
        color: var(--color-primary);
    }

    .btn{
        padding: 0.5rem 2rem;
    }
}


.menu-icon{
    position: absolute;
    top: 63px;
    right: 20px;
    width: 3rem;
    height: 3rem;
    display: none;
}


@media screen and (max-width: 870px){
    .navigation{
        display: none;
    }
    .menu-icon{
        display: block;
    }
}


@media screen and (max-width: 420px){
    .menu-icon{
        top: 40px;
        width: 2rem;
        height: 2rem;
    }
}
