.background-video {
    position: absolute;
    inset: 0;                 
    overflow: hidden;

    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }   

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.5);
    }
}
